@{
    Layout = null;
}
<html>
<head>
    <title>Alaskan Airlines Flight Finder</title>
</head>
<body>
    <div id="content"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Scripts/sorttable.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <link href="~/Content/css/Test.css" rel="stylesheet" type="text/css"/>
    <script src="@Url.Content("~/Scripts/Test.jsx")"></script>
</body>
</html> 